@media screen and (max-width: 1280px) {
    #subheader p { margin-left: 10px; }
    #subheader a { margin-right: 10px; }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    #subheader p { display:none; }
    #user-menu { display:none; }
    #logo-b { display:none; }
    #subheader a { font-size: 10px; }
    #subheader { padding-bottom: 12px; }
}

@media screen and (max-width: 480px) {
    #subheader p { display:none; }
    #subheader { padding-bottom: 10px; }
    #subheader a { font-size: 10px; }
    #user-menu { display:none; }
    /* #subheader a { font-size: 10px; }
    #subheader p { margin-left: 10px; } */
}

@media screen and (max-width: 479px) {
    #subheader a { font-size: 10px; }
    #subheader { padding-bottom: 10px; }
    #subheader p { display:none; }
    #user-menu { display:none; }
    /* #subheader a { font-size: 10px; }
    #subheader p { margin-left: 10px; } */
}
